#!/bin/sh
cat /etc/default/motd-ascii_art
echo                                                             
echo "---------------------------------------------------------------"
echo "             This system is managed by Ansible                 "
echo "---------------------------------------------------------------"
echo