#!/bin/sh
echo "FQDN:                 {{ ansible_fqdn }}"
echo "Distro:               {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}"
echo "Virtual:              {{ 'YES' if ansible_virtualization_role == 'guest' else 'NO' }}"
echo "Virtualization Type:  {{ ansible_virtualization_type }}"
echo "Timezone:             {{ ansible_date_time.tz }}({{ ansible_date_time.tz_offset }})"
echo
{% if ansible_location is defined %}
echo "Location:             {{ ansible_location }}"
{% endif %}
{% if ansible_region is defined %}
echo "Region:               {{ ansible_region }}"
{% endif %}
{% if ansible_zone is defined %}
echo "Zone:                 {{ ansible_zone }}"
{% endif %}
{% if ansible_customer is defined %}
echo "Customer:             {{ ansible_customer }}"
{% endif %}
{% if ansible_project is defined %}
echo "Project:              {{ ansible_project }}"
{% endif %}
{% if ansible_server_role is defined %}
echo "Role:                 {{ ansible_server_role }}"
{% endif %}
echo
